{% extends "base.html" %}
{% block content%}
{% load static %}
<div class="row my-2 text-center">
  <div class="col">
    <label class="font-weight-bold">部門</label>
  </div>
  <div class="col">
    <label class="font-weight-bold">課程名稱</label>
  </div>
  <div class="col">
    <label class="font-weight-bold">教室</label>
  </div>
  <div class="col-2">
    <label class="font-weight-bold">日期</label>
  </div>
  <div class="col">
    <label class="font-weight-bold">開始時間</label>
  </div>
  <div class="col">
    <label class="font-weight-bold">結束時間</label>
  </div>
  <div class="col">
    <label class="font-weight-bold">授課老師</label>
  </div>
  <div class="col">
    <label class="font-weight-bold">參加人數</label>
  </div>
  <div class="col">
    <label class="font-weight-bold">詳情</label>
  </div>
  <div class="col">
    <label class="font-weight-bold">calendar</label>
  </div>
</div>
{% for class in all_class %}
<hr>
<div class="row my-2 text-center">
  <div class="col">
    <span>{{ class.department }}</span>
  </div>
  <div class="col">
    <span>{{ class.subject }}</span>
  </div>
  <div class="col">
    <span>{{ class.classroom }}</span>
  </div>
  <div class="col-2">
    <span>{{ class.date }}</span>
  </div>
  <div class="col">
    <span>{{ class.start_time }}</span>
  </div>
  <div class="col">
    <span>{{ class.end_time }}</span>
  </div>
  <div class="col">
    <span>{{ class.teacher }}</span>
  </div>
  <div class="col">
    <span>{{ class.attend_number }}</span>
  </div>
  <div class="col">
    <span>
      <a data-toggle="collapse" href="#collapsedata{{ forloop.counter }}" aria-expanded="false"
        aria-controls="collapseExample">
        詳情
      </a>
    </span>
  </div>
  <div class="col">
    <span><a href="{{ class.link }}" target="_blank">新增</a></span>
  </div>
</div>
<div class="collapse" id="collapsedata{{ forloop.counter }}">
  <hr>
  <div class="row my-2 text-center">
    <div class="col-2">
      <label class="font-weight-bold">報到QR CODE</label>
    </div>
    <div class="col-2">
      <label class="font-weight-bold">活動設計表</label>
    </div>
    <div class="col-2">
      <label class="font-weight-bold">備課記錄表</label>
    </div>
    <div class="col-2">
      <label class="font-weight-bold">議課紀錄表</label>
    </div>
    <div class="col-2">
      <label class="font-weight-bold">觀課紀錄表</label>
    </div>
    <div class="col-2">
      <label class="font-weight-bold">審核</label>
    </div>
  </div>
  <hr>
  <div class="row my-2 text-center">
    <div class="col-2">
      <span><a href="{{ class.attend_qr }}" target="_blank"> 報到QR CODE </a></span>
    </div>
    <div class="col-2">
      {% if class.design %}
      <span><a href="{{ class.design }}"><img src="{% static 'check.png' %}" height="32"></span>
      {% else %}
      <span><img src="{% static 'error.png' %}" height="30"></span>
      {% endif %}
    </div>
    <div class="col-2">
      {% if class.preparation %}
      <span><a href="{{ class.preparation }}"><img src="{% static 'check.png' %}" height="32"></span>
      {% else %}
      <span><img src="{% static 'error.png' %}" height="30"></span>
      {% endif %}
    </div>
    <div class="col-2">
      {% if class.briefing %}
      <span><a href="{{ class.briefing }}"><img src="{% static 'check.png' %}" height="32"></span>
      {% else %}
      <span><img src="{% static 'error.png' %}" height="30"></span>
      {% endif %}
    </div>
    <div class="col-2">
      <span><a href="{{ class.observation }}">觀課紀錄表</a></span>
    </div>
    <div class="col-2">
      <span><a href="{{ class.check }}">審核</a></span>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}