<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>公開授課系統</title>
  {% include 'head_source.html' %}
</head>

<body class="grey lighten-3">
  <header>
    {% include 'nav.html' %}
  </header>
  <main class="mt-2 p-3">
    <div class="container">
      <div class="alert alert-primary center">
        <h2>訊息</h2>
        <h4>{{ message }}</h4>
        {% if link %}
        <a class="btn btn-default" href="{{ link }}">按這裡填觀課表單</a>
        {% endif %}
      </div>
    </div>
  </main>
  {% include 'footer.html' %}
  {% include 'foot_source.html' %}
</body>

</html>