<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>公開授課系統</title>
  {% include 'head_source.html' %}
</head>

<body class="grey lighten-3">
  <header>
    {% include 'nav.html' %}
  </header>
  <main class="mt-2 p-3">
    <form class="border border-black p-5 container row" method="post" role="form">
      {% csrf_token %}
      <div class="col center s12">
        <p class="h4 mb-4 text-center font-weight-bold">新增</p>
      </div>
      {% if error_message %}
      <div class="alert alert-danger center col s12">
        <h2>警告</h2>
        <h4>{{ error_messagee }}</h4>
      </div>
      {% endif %}
      <div class="input-field col s12 m6">
        <i class="fas fa-book-open prefix"></i>
        <input type="text" id="subject" name="subject" required>
        <label for="subject">課程名稱</label>
      </div>
      <div class="input-field col s12 m6">
        <i class="fas fa-school prefix"></i>
        <input type="text" id="room" name="room" required>
        <label for="room">上課教室</label>
      </div>
      <div class="input-field col s12 m4">
        <i class="fas fa-calendar-day prefix"></i>
        <input type="text" class="datepicker" id="date" name="date" required>
        <label for="date">上課日期</label>
      </div>
      <div class="input-field col s12 m4">
        <i class="fas fa-clock prefix"></i>
        <input type="text" class="timepicker" id="start_time" name="start_time" required>
        <label for="start_time">開始時間</label>
      </div>
      <div class="input-field col s12 m4">
        <i class="fas fa-clock prefix"></i>
        <input type="text" class="timepicker" id="end_time" name="end_time" required>
        <label for="end_time">結束時間</label>
      </div>
      <div class="col center s12">
        <button class="btn btn-info btn-block my-4" type="submit">新增 <i class="fas fa-paper-plane"></i></button>
      </div>
    </form>
  </main>
  {% include 'footer.html' %}
  {% include 'foot_source.html' %}
  <script src="{% static 'date_and_time.js' %}"></script>
</body>

</html>