{% extends "base.html" %}
{% block content%}
{% if user.is_authenticated  %}
<form class="form-login" action="" method="post" role="form"> {% csrf_token %}
  <h2 class="form-login-heading">新增</h2>
  {% if error_message %}
  <div class="alert alert-danger" role="alert">
    <h2 class="text-center">警告</h2>
    <h4 class="text-center">{{ error_message }}</h4>
  </div>
  {% endif %}
  <div class="form-group ">
    <label for="name">課程名稱</label>
    <input type="text" class="form-control" name="subject" value="{{ subject }}" required>
  </div>
  <div class="form-group ">
    <label for="room">上課教室</label>
    <input type="text" class="form-control" name="room" value="{{ room }}" required>
  </div>
  <div class="form-group ">
    <label for="date">上課日期</label>
    <input type="date" class="form-control" name="date" value="{{ date }}" required>
  </div>
  <div class="form-group ">
    <label for="start_time">開始時間</label>
    <input type="time" class="form-control" name="start_time" value="{{ start_time }}" required>
  </div>
  <div class="form-group ">
    <label for="end_time">結束時間</label>
    <input type="time" class="form-control" name="end_time" value="{{ end_time }}" required>
  </div>
  <input type="hidden" name="cid" value="submit" />
  <div class="form-login-submit">
    <button type="submit" class="btn btn-primary " name="submit" value="submit">刪除</button>
    <button type="submit" class="btn btn-primary " name="submit" value="submit">更改</button>
  </div>
</form>
{% else %}
<h2 class="text-center">警告</h2>
<h4 class="text-center">你未登入</h4>
{% endif %}
{% endblock %}