{% extends "base.html" %}
{% block content%}
{% load static %}
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="text-center">課程名稱</th>
        <th class="text-center">日期</th>
        <th class="text-center">報到QR CODE</th>
        <th class="text-center">參加人數</th>
        <th class="text-center">活動設計表</th>
        <th class="text-center">備課記錄表</th>
        <th class="text-center">議課紀錄表</th>
        <th class="text-center">觀課紀錄表</th>
        <th class="text-center" data-toggle="tooltip" data-placement="bottom" title="由管理員上傳">上課照片</th>
        <th class="text-center">calendar</th>
      </tr>
    </thead>
    <tbody>
        {% for class in all_class %}
      <tr>
        <td class="text-center">{{ class.subject }}</td>
        <td class="text-center">{{ class.date }}</td>
        <td class="text-center"><a href="{{ class.attend_qr }}" target="_blank"> 報到QR CODE </a></td>
        <td class="text-center">{{ class.attend_number }}</td>
        <td class="text-center"><a href="{{ class.design }}">活動設計表</a></td>
        <td class="text-center"><a href="{{ class.preparation }}">備課記錄表</a></td>
        <td class="text-center"><a href="{{ class.briefing }}">議課紀錄表</a></td>
        <td class="text-center"><a href="{{ class.observation }}">觀課紀錄表</a></td>
        {% if class.photo %}
        <td class="text-center"><a href="{{ class.photo }}"><img src="{% static 'check.png' %}" height="30"></a>
        </td>
        {% else %}
        <td class="text-center"><img src="{% static 'error.png' %}" height="30"></td>
        {% endif %}
        <td class="text-center"><a href="{{ class.link }}" target="_blank">新增</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}