{% extends "base.html" %}
{% block content%}
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="text-center">課程名稱</th>
        <th class="text-center">日期</th>
        <th class="text-center">報到網址</th>
        <th class="text-center">報到QR CODE</th>
        <th class="text-center">參加人數</th>
        <th class="text-center">活動設計表</th>
        <th class="text-center">備課記錄表</th>
        <th class="text-center">議課紀錄表</th>
        <th class="text-center">calendar</th>
      </tr>
    </thead>
    <tbody>
        {% for class in all_class %}
      <tr>
        <td class="text-center">{{ class.subject }}</td>
        <td class="text-center">{{ class.date }}</td>
        <td class="text-center"><a href="{{ class.attend_link }}" target="_blank"> 報到網址 </a></td>
        <td class="text-center"><a href="{{ class.attend_qr }}" target="_blank"> 報到QR CODE </a></td>
        <td class="text-center">{{ class.attend_number }}</td>
        <td class="text-center"><a href="{{ class.design }}" target="_blank">活動設計表</a></td>
        <td class="text-center"><a href="{{ class.preparation }}" target="_blank">備課記錄表</a></td>
        <td class="text-center"><a href="{{ class.briefing }}" target="_blank">議課紀錄表</a></td>
        <td class="text-center"><a href="{{ class.link }}" target="_blank">新增</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}