{% load static %}
<script src="{% static 'vendor/jquery-3.3.1.slim.min.js' %}"></script>
<!-- bootstrap -->
<script src="{% static 'vendor/popper.min.js' %}"></script>
<!-- bootstrap core -->
<script src="{% static 'vendor/bootstrap.min.js' %}"></script>
<!-- Compiled and minified JavaScript -->
<script src="{% static 'vendor/materialize.min.js' %}"></script>
<!-- nav dropdown js -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var elems = document.querySelectorAll('.dropdown-trigger');
    var instances = M.Dropdown.init(elems, {
      coverTrigger: false,
      constrainWidth: false,
    });
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems);
    var elems = document.querySelectorAll('#head');
    var instances = M.Collapsible.init(elems);
  });
</script>
<script>
  $(document).ready(function () {
    var docHeight = $(window).height();
    var footerHeight = $('#footer').height();
    var footerTop = $('#footer').position().top + footerHeight;
    console.log(-20 + (docHeight - footerTop));
    if (footerTop < docHeight)
      $('#footer').css('margin-top', -20 + (docHeight - footerTop) + 'px');
  });
</script>