{% load static %}
<!-- font -->
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
<link rel="icon" href="{% static 'favicon.ico' %}" />
<!-- bootstrap -->
<link rel="stylesheet" href="{% static 'vendor/bootstrap.min.css' %}">
<!-- Materialize -->
<link rel="stylesheet" href="{% static 'vendor/materialize.min.css' %}">
<!-- own style -->
<link rel="stylesheet" href="{% static 'style.min.css' %}">
<!-- fontawesome -->
<link rel="stylesheet" href="{% static 'fontawesome/css/fontawesome.min.css' %}">
<link rel="stylesheet" href="{% static 'fontawesome/css/brands.min.css' %}">
<link rel="stylesheet" href="{% static 'fontawesome/css/solid.min.css'%}">