{% load static %}
<nav class="navbar navbar-expand-md navbar-light blue lighten-2">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      {% if user.is_staff %}
      <li class="nav-item ">
        <a class="nav-link" href="/admin/" target="_blank"> 管理界面</a>
      </li>
      {% endif %}
      {% if user.power %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          管理課程
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/class/high/admin">高中部</a>
          <a class="dropdown-item" href="/class/secondary/admin">國中部</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          報表
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/class/high/csv">高中部</a>
          <a class="dropdown-item" href="/class/secondary/csv">國中部</a>
        </div>
      </li>
      {% endif %}
      {% if user.is_authenticated  %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          公開觀課
        </a>
        {% if user.teacher_department == "國中部" %}
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/class/secondary/create">新增</a>
          <a class="dropdown-item" href="/class/secondary/myclass">我的課程</a>
          <a class="dropdown-item" href="/class/secondary/myobservation">我的觀課紀錄</a>
        </div>
        {% else %}
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/class/high/create">新增</a>
          <a class="dropdown-item" href="/class/high/myclass">我的課程</a>
          <a class="dropdown-item" href="/class/high/myobservation">我的觀課紀錄</a>
        </div>
        {% endif %}
      </li>
      {% endif %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          關於本網站
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/about/privacy">隱私權政策</a>
          <a class="dropdown-item" href="/about/terms">服務條款</a>
          <a class="dropdown-item" href="/about/about">網站資訊</a>
        </div>
      </li>
    </ul>
  </div>
  <div class="mx-auto order-0">
    <a class="navbar-brand " href="/">
      <img src="{% static 'ttsh.jpg' %}" height="40" alt="TTSH">
      公開觀課系統
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      {% if user.is_authenticated  %}
      <li class="nav-item ">
        <a class="nav-link" href="#">{{ user.teacher_name }} 您好</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/account/logout">登出</a>
      </li>
      {% else %}
      <li class="nav-item ">
        <a class="nav-link" href="/account/login">登入</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>