<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>公開授課系統</title>
  {% include 'head_source.html' %}
</head>

<body class="grey lighten-3">
  <header>
    {% include 'nav.html' %}
  </header>
  <main class="mt-2 p-3">
    <form class="border border-black p-5 row container " method="post" role="form">
      {% csrf_token %}
      <div class="col center s12">
        <p class="h4 mb-4 text-center font-weight-bold">共同議課<br class="hide-on-med-and-up">設計表</p>
      </div>
      {% if message %}
      <div class="alert alert-danger center col s12">
        <h2>警告</h2>
        <h4>{{ message }}</h4>
      </div>
      {% endif %}
      <div class="input-field col s12 m6">
        <i class="fas fa-user prefix"></i>
        <input type="text" id="teach_teacher" name="teach_teacher" value="{{ user.teacher_name }}" disabled>
        <label for="teach_teacher">教學者</label>
      </div>
      <div class="input-field col s12 m6">
        <i class="fas fa-user-check prefix"></i>
        <textarea id="observer" name="observer" class="materialize-textarea" required></textarea>
        <label for="observer">觀察者</label>
      </div>
      <div class="input-field col s12 m6">
        <i class="fas fa-calendar-day prefix"></i>
        <input type="text" class="datepicker" id="briefing_date" name="briefing_date" required>
        <label for="briefing_date">議課日期</label>
      </div>
      <div class="input-field col s12 m6">
        <i class="fas fa-clock prefix"></i>
        <input type="text" class="timepicker" id="briefing_time" name="briefing_time" required>
        <label for="briefing_time">議課時間</label>
      </div>
      <div class="input-field col s12">
        <i class="fas fa-check-double prefix"></i>
        <textarea id="affirmation_teaching_performance" name="affirmation_teaching_performance"
          class="materialize-textarea" required></textarea>
        <label for="affirmation_teaching_performance">肯定教學表現</label>
      </div>
      <div class="input-field col s12">
        <i class="fas fa-users prefix"></i>
        <textarea id="guide_discussion_teaching_performance" name="guide_discussion_teaching_performance"
          class="materialize-textarea" required></textarea>
        <label for="guide_discussion_teaching_performance">引導討論教學表現</label>
      </div>
      <div class="input-field col s12">
        <i class="fas fa-chalkboard-teacher prefix"></i>
        <textarea id="judgment_performance" name="judgment_performance" class="materialize-textarea"
          required></textarea>
        <label for="judgment_performance">判斷表現程度</label>
      </div>
      <div class="input-field col s12">
        <i class="fas fa-child prefix"></i>
        <textarea id="suggest" name="suggest" class="materialize-textarea" required></textarea>
        <label for="suggest">改進學生學習能力提供之建議</label>
      </div>
      <div class="input-field col s12">
        <i class="fas fa-clone prefix"></i>
        <textarea id="growth_activity" name="growth_activity" class="materialize-textarea" required></textarea>
        <label for="growth_activity">協助擬定成長活動</label>
      </div>
      <div class="col center s12">
        <button class="btn btn-info btn-block my-4" type="submit">提交 <i class="fas fa-paper-plane"></i></button>
      </div>
    </form>
  </main>
  {% include 'footer.html' %}
  {% include 'foot_source.html' %}
  <script src="{% static 'date_and_time.js' %}"></script>
</body>

</html>