{% extends "base.html" %}
{% block content%}
{% if user.is_authenticated  %}
<form method="post" role="form"> 
  {% csrf_token %}
  <h2 class="font-weight-bolder">課程教學活動設計表</h2>
  {% if message %}
  <div class="alert alert-danger" role="alert">
    <h2 class="text-center font-weight-bolder">警告</h2>
    <h4 class="text-center font-weight-bolder">{{ message }}</h4>
  </div>
  {% endif %}
  <div class="form-group ">
    <label class="font-weight-bolder">單元名稱</label>
    <input type="text" class="form-control" name="class_name" placeholder="輸入單元名稱" required>
  </div>
  <div class="form-group ">
    <label class="font-weight-bolder">授課教師</label>
    <input type="text" class="form-control" name="teacher" value="{{ user.teacher_name }}" disabled>
  </div>
  <div class="form-group ">
    <label class="font-weight-bolder">教材來源</label>
    <input type="text" class="form-control" name="teaching_material" placeholder="輸入教材來源" required>
  </div>
  <div class="form-group ">
    <label class="font-weight-bolder">授課班級</label>
    <input type="text" class="form-control" name="teach_class" placeholder="輸入授課班級" required>
  </div>
  <div class="form-group ">
    <label class="font-weight-bolder">教學日期</label>
    <input type="date" class="form-control" name="date" required>
  </div>
  <div class="form-group ">
    <label class="font-weight-bolder">教學開始時間</label>
    <input type="time" class="form-control" name="start_time" value="13:00" required>
  </div>
  <div class="form-group ">
    <label class="font-weight-bolder">教學結束時間</label>
    <input type="time" class="form-control" name="end_time" value="14:00" required>
  </div>
  <div class="form-group">
    <label class="font-weight-bolder">教學目標</label>
    <textarea class="form-control box" name="big_teaching_objectives" rows="6" required></textarea>
  </div>
  <div class="form-group">
    <label class="font-weight-bolder">學生學習背景分析</label>
    <textarea class="form-control box" name="background_analysis" rows="6" required></textarea>
  </div>
  <div class="form-group">
    <label class="font-weight-bolder">教學方法</label>
    <textarea class="form-control box" name="big_teaching_method" rows="6" required></textarea>
  </div>
  <div class="form-group">
    <label class="font-weight-bolder">教學資源</label>
    <textarea class="form-control box" name="teaching_resources" rows="6" required></textarea>
  </div>
  <div class="form-group">
    <label class="font-weight-bolder">參考資料</label>
    <textarea class="form-control box" name="reference_material" rows="6" required></textarea>
  </div>
  <div class="form-group">
    <table id="myTable" class="table table-hover">
      <thead>
        <tr>
          <th rowspan="2" class="text-center align-middle">教學目標</th>
          <th colspan="2" class="text-center">教學活動</th>
          <th rowspan="2" class="text-center align-middle">使用教具</th>
          <th rowspan="2" class="text-center align-middle">評量方式</th>
          <th rowspan="2" class="text-center align-middle">教學方法</th>
          <th rowspan="2" class="text-center align-middle">時間分配</th>
        </tr>
        <tr>
          <th class="text-center">教師活動</th>
          <th class="text-center">學生活動</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input type="text" class="form-control" name="teaching_objectives_1" placeholder="輸入教學目標" required></td>
          <td><input type="text" class="form-control" name="teacher_activity_1" placeholder="輸入教師活動" required></td>
          <td><input type="text" class="form-control" name="student_activities_1" placeholder="輸入學生活動" required></td>
          <td><input type="text" class="form-control" name="teaching_aid_1" placeholder="輸入使用教具" required></td>
          <td><input type="text" class="form-control" name="assessment_method_1" placeholder="輸入評量方式" required></td>
          <td><input type="text" class="form-control" name="teaching_method_1" placeholder="輸入教學方法" required></td>
          <td><input type="text" class="form-control" name="time_allocation_1" placeholder="輸入時間分配" required></td>
        </tr>
      </tbody>
    </table>
    <input type="button" class="btn btn-success" onclick="addtable()" value="新增一行">
    <input type="button" class="btn btn-danger" onclick="deltable()" value="刪除一行">
  </div>
  <div class="form-login-submit text-center">
    <button type="submit" class="btn btn-primary " name="submit" value="submit">提交</button>
  </div>
</form>
<script>
  var num = 3
  var min_num = 3
  function addtable() {
    var row = document.getElementById("myTable").insertRow(num);
    num++;
    row.insertCell(0).innerHTML = "<input type=\"text\" class=\"form-control\" name=\"teaching_objectives_" + String(num - 2) +"\" placeholder=\"輸入教學目標\" required>";
    row.insertCell(1).innerHTML = "<input type=\"text\" class=\"form-control\" name=\"teacher_activity_" + String(num - 2) +"\" placeholder=\"輸入教師活動\" required>";
    row.insertCell(2).innerHTML = "<input type=\"text\" class=\"form-control\" name=\"student_activities_" + String(num - 2) +"\" placeholder=\"輸入學生活動\" required>";
    row.insertCell(3).innerHTML = "<input type=\"text\" class=\"form-control\" name=\"teaching_aid_" + String(num - 2) +"\" placeholder=\"輸入使用教具\" required>";
    row.insertCell(4).innerHTML = "<input type=\"text\" class=\"form-control\" name=\"assessment_method_" + String(num - 2) +"\" placeholder=\"輸入評量方式\" required>";
    row.insertCell(3).innerHTML = "<input type=\"text\" class=\"form-control\" name=\"teaching_method_" + String(num - 2) +"\" placeholder=\"輸入教學方法\" required>";
    row.insertCell(4).innerHTML = "<input type=\"text\" class=\"form-control\" name=\"time_allocation_" + String(num - 2) +"\" placeholder=\"輸入時間分配\" required>";
  }
  function deltable() {
    var table = document.getElementById("myTable");
    if (num - 1 >= min_num) {
      num--;
      table.deleteRow(num);
    } else {
      alert("最少需有" + (min_num - 2) + "列");
    }
  }
</script>
{% else %}
<h2 class="text-center">警告</h2>
<h4 class="text-center">你未登入</h4>
{% endif %}
{% endblock %}