<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>公開授課系統</title>
  {% include 'head_source.html' %}
</head>

<body class="grey lighten-3">
  <header>
    {% include 'nav.html' %}
  </header>
  <main class="mt-2 p-3">
    <form class="border border-black p-5 row container " method="post" role="form">
      {% csrf_token %}
      <div class="col center s12">
        <p class="h4 mb-4 text-center font-weight-bold">課程教學活動<br class="hide-on-med-and-up">設計表</p>
      </div>
      {% if message %}
      <div class="alert alert-danger center col s12">
        <h2>警告</h2>
        <h4>{{ message }}</h4>
      </div>
      {% endif %}
      <div class="input-field col s12 m6">
        <i class="fas fa-book prefix"></i>
        <input type="text" id="class_name" name="class_name" required>
        <label for="class_name">單元名稱</label>
      </div>
      <div class="input-field col s12 m6">
        <i class="fas fa-user prefix"></i>
        <input type="text" id="teacher" name="teacher" value="{{ user.teacher_name }}" disabled>
        <label for="teacher">授課教師</label>
      </div>
      <div class="input-field col s12 m6">
        <i class="fas fa-project-diagram prefix"></i>
        <input type="text" id="teaching_material" name="teaching_material" required>
        <label for="teaching_material">教材來源</label>
      </div>
      <div class="input-field col s12 m6">
        <i class="fas fa-book-reader prefix"></i>
        <input type="text" id="teach_class" name="teach_class" required>
        <label for="teach_class">授課班級</label>
      </div>
      <div class="input-field col s12 m4">
        <i class="fas fa-calendar-day prefix"></i>
        <input type="text" class="datepicker" id="date" name="date" required>
        <label for="date">教學日期</label>
      </div>
      <div class="input-field col s12 m4">
        <i class="fas fa-clock prefix"></i>
        <input type="text" class="timepicker" id="start_time" name="start_time" required>
        <label for="start_time">教學開始時間</label>
      </div>
      <div class="input-field col s12 m4">
        <i class="fas fa-clock prefix"></i>
        <input type="text" class="timepicker" id="end_time" name="end_time" required>
        <label for="end_time">教學結束時間</label>
      </div>
      <div class="input-field col s12">
        <i class="fas fa-bullseye prefix"></i>
        <textarea id="big_teaching_objectives" name="big_teaching_objectives" class="materialize-textarea"
          required></textarea>
        <label for="big_teaching_objectives">教學目標</label>
      </div>
      <div class="input-field col s12">
        <i class="fas fa-user-check prefix"></i>
        <textarea id="background_analysis" name="background_analysis" class="materialize-textarea" required></textarea>
        <label for="background_analysis">學生學習背景分析</label>
      </div>
      <div class="input-field col s12">
        <i class="fas fa-chalkboard-teacher prefix"></i>
        <textarea id="big_teaching_method" name="big_teaching_method" class="materialize-textarea" required></textarea>
        <label for="big_teaching_method">教學方法</label>
      </div>
      <div class="input-field col s12">
        <i class="fas fa-book prefix"></i>
        <textarea id="teaching_resources" name="teaching_resources" class="materialize-textarea" required></textarea>
        <label for="teaching_resources">教學資源</label>
      </div>
      <div class="input-field col s12">
        <i class="fas fa-clone prefix"></i>
        <textarea id="reference_material" name="reference_material" class="materialize-textarea" required></textarea>
        <label for="reference_material">參考資料</label>
      </div>
      <div class="col s12">
        <h5 class="center">詳細流程</h5>
        <ul id="detail_bar" class="tabs">
          <li id="1" class="tab col s1 m1"><a href="#part_1" class="active">1</a></li>
        </ul>
      </div>
      <div id="part_1" class="col s12">
        <div class="input-field col s12">
          <i class="fas fa-bullseye prefix"></i>
          <textarea id="teaching_objectives_1" name="teaching_objectives_1" class="materialize-textarea"
            required></textarea>
          <label for="teaching_objectives_1">教學目標</label>
        </div>
        <div class="input-field col s12">
          <i class="fab fa-teamspeak prefix"></i>
          <textarea id="teacher_activity_1" name="teacher_activity_1" class="materialize-textarea" required></textarea>
          <label for="teacher_activity_1">教師活動</label>
        </div>
        <div class="input-field col s12">
          <i class="fas fa-child prefix"></i>
          <textarea id="student_activities_1" name="student_activities_1" class="materialize-textarea"
            required></textarea>
          <label for="student_activities_1">學生活動</label>
        </div>
        <div class="input-field col s12">
          <i class="fas fa-chalkboard prefix"></i>
          <textarea id="teaching_aid_1" name="teaching_aid_1" class="materialize-textarea" required></textarea>
          <label for="teaching_aid_1">使用教具</label>
        </div>
        <div class="input-field col s12">
          <i class="fas fa-user-check prefix"></i>
          <textarea id="assessment_method_1" name="assessment_method_1" class="materialize-textarea"
            required></textarea>
          <label for="assessment_method_1">評量方式</label>
        </div>
        <div class="input-field col s12">
          <i class="fas fa-chalkboard-teacher prefix"></i>
          <textarea id="teaching_method_1" name="teaching_method_1" class="materialize-textarea" required></textarea>
          <label for="teaching_method_1">教學方法</label>
        </div>
        <div class="input-field col s12">
          <i class="fas fa-clock prefix"></i>
          <textarea id="time_allocation_1" name="time_allocation_1" class="materialize-textarea" required></textarea>
          <label for="time_allocation_1">時間分配</label>
        </div>
      </div>
      <div class="col center s6">
        <button class="btn btn-info btn-block mb-4" type="button" onclick="addone()">
          增加 <i class="fas fa-plus"></i></button>
      </div>
      <div class="col center s6">
        <button class="btn btn-info btn-block mb-4 red" type="button" onclick="delteone()">
          減少 <i class="fas fa-minus"></i></button>
      </div>
      <div class="col center s12">
        <button class="btn btn-info btn-block my-4" type="submit">提交 <i class="fas fa-paper-plane"></i></button>
      </div>
    </form>
  </main>
  {% include 'footer.html' %}
  {% include 'foot_source.html' %}
  <script src="{% static 'date_and_time.js' %}"></script>
  <script src="{% static 'tabs.js' %}"></script>
  <script>
    var num = 1;
    var min_num = 1;
    function addone() {
      num = num + 1;
      var context = "\
      <div id=\"part_" + String(num) + "\" class=\"col s12\" style=\" display : none;\">\
        <div class=\"input-field col s12\">\
          <i class=\"fas fa-bullseye prefix\"></i>\
          <textarea id=\"teaching_objectives_"+ String(num) +"\" name=\"teaching_objectives_"+ String(num) +"\" class=\"materialize-textarea\" required></textarea>\
          <label for=\"teaching_objectives_"+ String(num) +"\">教學目標</label>\
        </div>\
        <div class=\"input-field col s12\">\
          <i class=\"fab fa-teamspeak prefix\"></i>\
          <textarea id=\"teacher_activity_"+ String(num) +"\" name=\"teacher_activity_"+ String(num) +"\" class=\"materialize-textarea\" required></textarea>\
          <label for=\"teacher_activity_"+ String(num) +"\">教師活動</label>\
        </div>\
        <div class=\"input-field col s12\">\
          <i class=\"fas fa-child prefix\"></i>\
          <textarea id=\"student_activities_"+ String(num) +"\" name=\"student_activities_"+ String(num) +"\" class=\"materialize-textarea\" required></textarea>\
          <label for=\"student_activities_"+ String(num) +"\">學生活動</label>\
        </div>\
        <div class=\"input-field col s12\">\
          <i class=\"fas fa-chalkboard prefix\"></i>\
          <textarea id=\"teaching_aid_"+ String(num) +"\" name=\"teaching_aid_"+ String(num) +"\" class=\"materialize-textarea\" required></textarea>\
          <label for=\"teaching_aid_"+ String(num) +"\">使用教具</label>\
        </div>\
        <div class=\"input-field col s12\">\
          <i class=\"fas fa-user-check prefix\"></i>\
          <textarea id=\"assessment_method_"+ String(num) +"\" name=\"assessment_method_"+ String(num) +"\" class=\"materialize-textarea\" required></textarea>\
          <label for=\"assessment_method_"+ String(num) +"\">評量方式</label>\
        </div>\
        <div class=\"input-field col s12\">\
          <i class=\"fas fa-chalkboard-teacher prefix\"></i>\
          <textarea id=\"teaching_method_"+ String(num) +"\" name=\"teaching_method_"+ String(num) +"\" class=\"materialize-textarea\" required></textarea>\
          <label for=\"teaching_method_"+ String(num) +"\">教學方法</label>\
        </div>\
        <div class=\"input-field col s12\">\
          <i class=\"fas fa-clock prefix\"></i>\
          <textarea id=\"time_allocation_"+ String(num) +"\" name=\"time_allocation_"+ String(num) +"\" class=\"materialize-textarea\" required></textarea>\
          <label for=\"time_allocation_"+ String(num) +"\">時間分配</label>\
        </div>\
      </div>";
      document.getElementById(String(num - 1)).insertAdjacentHTML("afterend", "<li id=\""+ String(num) +"\" class=\"tab col s1 m1\"><a href=\"#part_" + String(num) + "\">" + String(num) + "</a></li>")
      document.getElementById("part_" + String(num - 1)).insertAdjacentHTML("afterend", context)
      var el = document.getElementById("detail_bar");
      var instance = M.Tabs.getInstance(el);
      instance.updateTabIndicator();
    }
    function delteone() {
      if(num == min_num){
        alert("最少需有" + min_num + "個");
        return;
      }
      $('#'+String(num)).remove();
      $('#part_'+String(num)).remove();
      num = num - 1;
    }
  </script>
</body>

</html>