<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>公開授課系統</title>
  {% include 'head_source.html' %}
  <style>
    input,
    textarea {
      color: #000000 !important;
    }
  </style>
</head>

<body class="grey lighten-3">
  <header>
    {% include 'nav.html' %}
  </header>
  <main class="mt-2 p-3">
    <section class="border border-black p-5 row container">
      <div class="col center s12">
        <p class="h4 mb-4 text-center font-weight-bold">公開觀課<br class="hide-on-med-and-up">記錄表</p>
      </div>
      <div class="input-field col s12 m4">
        <i class="fas fa-user prefix"></i>
        <input type="text" id="author" value="{{ author }}" disabled>
        <label for="author">觀課者姓名</label>
      </div>
      <div class="input-field col s12 m8">
        <i class="fas fa-calendar-day prefix"></i>
        <input type="text" id="observation_date" value="{{ observation_date }}" disabled>
        <label for="observation_date">觀課日期</label>
      </div>
      <div class="input-field col s12 m4">
        <i class="fab fa-teamspeak prefix"></i>
        <input type="text" id="teach_teacher" value="{{ teach_teacher }}" disabled>
        <label for="teach_teacher">教學者</label>
      </div>
      <div class="input-field col s12 m4">
        <i class="fas fa-book-open prefix"></i>
        <input type="text" id="subject" value="{{ subject }}" disabled>
        <label for="subject">科目</label>
      </div>
      <div class="input-field col s12 m4">
        <i class="fas fa-book prefix"></i>
        <input type="text" id="class_name" value="{{ class_name }}" disabled>
        <label for="class_name">單元名稱</label>
      </div>
      <div class="input-field col s12 m2">
        <button type="button" data-target="learning_atmosphere_description"
          class="btn btn-block modal-trigger">說明</button>
      </div>
      <div class="input-field col s12 m10">
        <i class="fab fa-codepen prefix"></i>
        <textarea class="materialize-textarea" id="learning_atmosphere" disabled>{{learning_atmosphere}}</textarea>
        <label for="learning_atmosphere">全班學習氣氛</label>
      </div>
      <div class="input-field col s12 m2">
        <button type="button" data-target="learning_process_description" class="btn btn-block modal-trigger">說明</button>
      </div>
      <div class="input-field col s12 m10">
        <i class="fab fa-connectdevelop prefix"></i>
        <textarea class="materialize-textarea" id="learning_process" disabled>{{learning_process}}</textarea>
        <label for="learning_process">學生學習歷程</label>
      </div>
      <div class="input-field col s12 m2">
        <button type="button" data-target="learning_result_description" class="btn btn-block modal-trigger">說明</button>
      </div>
      <div class="input-field col s12 m10">
        <i class="fas fa-diagnoses prefix"></i>
        <textarea class="materialize-textarea" id="learning_result" disabled>{{learning_result}}</textarea>
        <label for="learning_result">學生學習結果</label>
      </div>
      <div class="input-field col s12">
        <i class="fas fa-user-check prefix"></i>
        <textarea class="materialize-textarea" id="experience_and_learning"
          disabled>{{experience_and_learning}}</textarea>
        <label for="experience_and_learning">觀課的心得與學習</label>
      </div>
    </section>
    <div id="learning_atmosphere_description" class="modal bottom-sheet">
      <div class="modal-content center">
        <h4 class="font-weight-bold">全班學習氣氛</h4>
        <p>
          1-1是否有安心學習的環境？<br>
          1-2老師說明時是否專注傾聽？<br>
          1-3自學時是否有認真參與？<br>
          1-4練習活動時是否盡力參與？<br>
          1-5 全班活動時？或者分組活動時，是否有不恰當行為？哪一位？做什麼？
        </p>
      </div>
      <div class="modal-footer">
        <a class="modal-close waves-effect waves-green btn-flat">確認</a>
      </div>
    </div>
    <div id="learning_process_description" class="modal bottom-sheet">
      <div class="modal-content center">
        <h4 class="font-weight-bold">學生學習歷程</h4>
        <p>
          2-1老師是否關照每個學生學習？<br>
          2-2學生是否相互關注與傾聽？<br>
          2-3學生是否相互協助與討論？<br>
          2-4學生是否投入參與學習？<br>
          2-5是否發現有特殊表現的學生？(例如學習停滯、學習超前和學習具潛力的學生)
        </p>
      </div>
      <div class="modal-footer">
        <a class="modal-close waves-effect waves-green btn-flat">確認</a>
      </div>
    </div>
    <div id="learning_result_description" class="modal bottom-sheet">
      <div class="modal-content center">
        <h4 class="font-weight-bold">學生學習結果</h4>
        <p>
          3-1學生的學習是否成立？如何發生?何時發生？<br>
          3-2學生學習的困難之處是什麼？<br>
          3-3伸展跳耀(jump)的學習是否產生？<br>
          3-4學生的學習思考程度是否深化？<br>
          3-5學生是否樂於學習？
        </p>
      </div>
      <div class="modal-footer">
        <a class="modal-close waves-effect waves-green btn-flat">確認</a>
      </div>
    </div>
  </main>
  {% include 'footer.html' %}
  {% include 'foot_source.html' %}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.modal');
      var instances = M.Modal.init(elems, {});
    });
  </script>
</body>

</html>