{% extends "base.html" %}
{% block content%}
{% if user.is_authenticated  %}
{% if message %}
<div class="alert alert-danger" role="alert">
  <h2 class="text-center font-weight-bolder">警告</h2>
  <h4 class="text-center font-weight-bolder">{{ message }}</h4>
</div>
{% else %}
<div class="row my-2">
  <div class="col">
    <h2 class="font-weight-bolder">公開觀課紀錄表</h2>
  </div>
</div>
<hr class="my-4 ">
<div class="row my-2">
  <div class="col-3 col-sm-2">
    <label class="font-weight-bolder">觀課者姓名</label>
  </div>
  <div class="col-9 col-sm-4">
    <input type="text" class="form-control" value="{{ author }}" disabled>
  </div>
  <div class="col-3 col-sm-2">
    <label class="font-weight-bolder">觀課日期</label>
  </div>
  <div class="col-9 col-sm-4">
    <input type="text" class="form-control" value="{{ observation_date }}" disabled>
  </div>
</div>
<div class="row my-2">
  <div class="col-3 col-sm-2">
    <label class="font-weight-bolder">教學者</label>
  </div>
  <div class="col-9 col-sm-2">
    <input type="text" class="form-control" value="{{ teach_teacher }}" disabled>
  </div>
  <div class="col-3 col-sm-2">
    <label class="font-weight-bolder">科目</label>
  </div>
  <div class="col-9 col-sm-2">
    <input type="text" class="form-control" value="{{ subject }}" disabled>
  </div>
  <div class="col-3 col-sm-2">
    <label class="font-weight-bolder">單元名稱</label>
  </div>
  <div class="col-9 col-sm-2">
    <input type="text" class="form-control" value="{{ class_name }}" disabled>
  </div>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>面向</th>
      <th>觀課參考檢核項目</th>
      <th>觀課紀錄</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1.全班學習氣氛</td>
      <td>
        1-1是否有安心學習的環境？<br>
        1-2老師說明時是否專注傾聽？<br>
        1-3自學時是否有認真參與？<br>
        1-4練習活動時是否盡力參與？<br>
        1-5 全班活動時？或者分組活動時，是否有不恰當行為？哪一位？做什麼？
      </td>
      <td><textarea class="form-control box" disabled>{{learning_atmosphere}}</textarea></td>
    </tr>
    <tr>
      <td>2.學生學習歷程</td>
      <td>
        2-1老師是否關照每個學生學習？<br>
        2-2學生是否相互關注與傾聽？<br>
        2-3學生是否相互協助與討論？<br>
        2-4學生是否投入參與學習？<br>
        2-5是否發現有特殊表現的學生？(例如學習停滯、學習超前和學習具潛力的學生)
      </td>
      <td><textarea class="form-control box" disabled>{{learning_process}}</textarea></td>
    </tr>
    <tr>
      <td>3.學生學習結果</td>
      <td>
        3-1學生的學習是否成立？如何發生?何時發生？<br>
        3-2學生學習的困難之處是什麼？<br>
        3-3伸展跳耀(jump)的學習是否產生？<br>
        3-4學生的學習思考程度是否深化？<br>
        3-5學生是否樂於學習？
      </td>
      <td><textarea class="form-control box" disabled>{{learning_result}}</textarea></td>
    </tr>
    <tr>
      <td>4.觀課的心得與學習</td>
      <td colspan="2"> <textarea class="form-control box" disabled>{{experience_and_learning}}</textarea>
      </td>
    </tr>
  </tbody>
</table>
{% endif %}
{% else %}
<h2 class="text-center">警告</h2>
<h4 class="text-center">你未登入</h4>
{% endif %}
{% endblock %}