{% extends "base.html" %}
{% block content%}
{% if user.is_authenticated  %}
<div class="row my-2">
  <div class="col">
    <h2 class="font-weight-bolder">共同備課記錄表</h2>
  </div>
</div>
<hr class="my-4 ">
<div class="row my-2">
  <div class="col-sm-2 col-3">
    <label class="font-weight-bolder">學科</label>
  </div>
  <div class="col-9 col-sm-4">
    <input type="text" class="form-control" value="{{subject}}" disabled>
  </div>
  <div class="col-sm-2 col-3">
    <label class="font-weight-bolder">填寫者</label>
  </div>
  <div class="col-9 col-sm-4">
    <input type="text" class="form-control" value="{{ author }}" disabled>
  </div>
</div>
<div class="row my-2">
  <div class="col-sm-2 col-12">
    <label class="font-weight-bolder">教學時間</label>
  </div>
  <div class="col-sm-4 col-5">
    <input type="text" class="form-control" value="{{date}}" disabled>
  </div>
  <div class="col-sm-6 col-5">
    <input type="text" class="form-control" value="{{ start_time }} 至 {{ end_time }}" disabled>
  </div>
</div>
<div class="row my-2">
  <div class="col-sm-2 col-3">
    <label class="font-weight-bolder">教學年級</label>
  </div>
  <div class="col-9 col-sm-4">
    <input type="text" class="form-control" value="{{teaching_grade}}" disabled>
  </div>
  <div class="col-sm-2 col-3">
    <label class="font-weight-bolder">教學單元</label>
  </div>
  <div class="col-9 col-sm-4">
    <input type="text" class="form-control" value="{{ class_name }}" disabled>
  </div>
</div>
<div class="row my-2">
  <div class="col-sm-2 col-3">
    <label class="font-weight-bolder">教材來源</label>
  </div>
  <div class="col-9 col-sm-4">
    <input type="text" class="form-control" value="{{teaching_material}}" disabled>
  </div>
  <div class="col-sm-2 col-3">
    <label class="font-weight-bolder">教學者</label>
  </div>
  <div class="col-9 col-sm-4">
    <input type="text" class="form-control" value="{{ teach_teacher }}" disabled>
  </div>
</div>
<div class="row my-2">
  <div class="col">
    <label class="font-weight-bolder">一、教材內容：</label>
    <textarea class="form-control box" disabled>{{content}}</textarea>
  </div>
</div>
<div class="row my-2">
  <div class="col">
    <label class="font-weight-bolder">二、教學目標：</label>
    <textarea class="form-control box" disabled>{{teaching_objectives}}</textarea>
  </div>
</div>
<div class="row my-2">
  <div class="col">
    <label class="font-weight-bolder">三、學生經驗：</label>
    <textarea class="form-control box" disabled>{{student_experience}}</textarea>
  </div>
</div>
<div class="row my-2">
  <div class="col">
    <label class="font-weight-bolder">四、教學活動：</label>
    <textarea class="form-control box" disabled>{{teaching_activity}}</textarea>
  </div>
</div>
<div class="row my-2">
  <div class="col">
    <label class="font-weight-bolder">五、學生學習成效評估方式：</label>
    <textarea class="form-control box" disabled>{{teaching_activity}}</textarea>
  </div>
</div>
{% else %}
<h2 class="text-center">警告</h2>
<h4 class="text-center">你未登入</h4>
{% endif %}
{% endblock %}