<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>公開授課系統</title>
  {% include 'head_source.html' %}
</head>

<body class="grey lighten-3">
  <header>
    {% include 'nav.html' %}
  </header>
  <main class="mt-2 p-3">
    <form class="border border-black p-5 row container" method="post" role="form">
      {% csrf_token %}
      <div class="col center s12">
        <p class="h4 mb-4 text-center font-weight-bold">共同備課<br class="hide-on-med-and-up">記錄表</p>
      </div>
      {% if message %}
      <div class="alert alert-danger center col s12">
        <h2>警告</h2>
        <h4>{{ message }}</h4>
      </div>
      {% endif %}
      <div class="input-field col s12 m6">
        <i class="fas fa-book-open prefix"></i>
        <input type="text" id="subject" name="subject" required>
        <label for="subject">學科</label>
      </div>
      <div class="input-field col s12 m6">
        <i class="fas fa-user prefix"></i>
        <input type="text" id="author" name="author" value="{{ user.teacher_name }}" disabled>
        <label for="author">填寫者</label>
      </div>
      <div class="input-field col s12 m4">
        <i class="fas fa-calendar-day prefix"></i>
        <input type="text" class="datepicker" id="date" name="date" required>
        <label for="date">教學日期</label>
      </div>
      <div class="input-field col s12 m4">
        <i class="fas fa-clock prefix"></i>
        <input type="text" class="timepicker" id="start_time" name="start_time" required>
        <label for="start_time">教學開始時間</label>
      </div>
      <div class="input-field col s12 m4">
        <i class="fas fa-clock prefix"></i>
        <input type="text" class="timepicker" id="end_time" name="end_time" required>
        <label for="end_time">教學結束時間</label>
      </div>
      <div class="input-field col s12 m6">
        <i class="fas fa-book-reader prefix"></i>
        <input type="text" id="teaching_grade" name="teaching_grade" required>
        <label for="teaching_grade">教學年級</label>
      </div>
      <div class="input-field col s12 m6">
        <i class="fas fa-book prefix"></i>
        <input type="text" id="class_name" name="class_name" required>
        <label for="class_name">教學單元</label>
      </div>
      <div class="input-field col s12 m6">
        <i class="fas fa-project-diagram prefix"></i>
        <input type="text" id="teaching_material" name="teaching_material" required>
        <label for="teaching_material">教材來源</label>
      </div>
      <div class="input-field col s12 m6">
        <i class="fas fa-user prefix"></i>
        <input type="text" id="teacher" name="teacher" value="{{ user.teacher_name }}" disabled>
        <label for="teacher">教學者</label>
      </div>
      <div class="input-field col s12">
        <i class="fas fa-clone prefix"></i>
        <textarea id="content" name="content" class="materialize-textarea" required></textarea>
        <label for="content">教材內容</label>
      </div>
      <div class="input-field col s12">
        <i class="fas fa-bullseye prefix"></i>
        <textarea id="teaching_objectives" name="teaching_objectives" class="materialize-textarea" required></textarea>
        <label for="teaching_objectives">教學目標</label>
      </div>
      <div class="input-field col s12">
        <i class="fas fa-child prefix"></i>
        <textarea id="student_experience" name="student_experience" class="materialize-textarea" required></textarea>
        <label for="student_experience">學生經驗</label>
      </div>
      <div class="input-field col s12">
        <i class="fas fa-chalkboard-teacher prefix"></i>
        <textarea id="teaching_activity" name="teaching_activity" class="materialize-textarea" required></textarea>
        <label for="teaching_activity">教學活動</label>
      </div>
      <div class="input-field col s12">
        <i class="fas fa-user-check prefix"></i>
        <textarea id="evaluation_method" name="evaluation_method" class="materialize-textarea" required></textarea>
        <label for="evaluation_method">學生學習成效評估方式</label>
      </div>
      <div class="col center s12">
        <button class="btn btn-info btn-block my-4" type="submit">提交 <i class="fas fa-paper-plane"></i></button>
      </div>
    </form>
  </main>
  {% include 'footer.html' %}
  {% include 'foot_source.html' %}
  <script src="{% static 'date_and_time.js' %}"></script>
</body>

</html>