{% extends "base.html" %}
{% block content%}
{% if message %}
<div class="alert alert-danger" role="alert">
  <h2 class="text-center font-weight-bold">警告</h2>
  <h4 class="text-center font-weight-bold">{{ message }}</h4>
</div>
{% else %}
<div class="row my-2">
  <div class="col">
    <h2 class="font-weight-bold">共同議課紀錄表</h2>
  </div>
</div>
<hr class="my-4 ">
<div class="row my-2">
  <div class="col-3">
    <label class="font-weight-bold">教學者</label>
  </div>
  <div class="col-9">
    <input type="text" class="form-control" value="{{ teach_teacher }}" disabled>
  </div>
</div>
<div class="row my-2">
  <div class="col-3">
    <label class="font-weight-bold">觀察者</label>
  </div>
  <div class="col-9">
    <textarea class="form-control box" disabled>{{observer}}</textarea>
  </div>
</div>
<div class="row my-2">
  <div class="col-sm-2 col-12">
    <label class="font-weight-bold">議課日期</label>
  </div>
  <div class="col-sm-4 col-6">
    <input type="text" class="form-control" value="{{briefing_date}}" disabled>
  </div>
  <div class="col-sm-6 col-6">
    <input type="text" class="form-control" value="{{ briefing_time }}" disabled>
  </div>
</div>
<div class="row my-2">
  <div class="col">
    <h6 class="text-center font-weight-bold">請依據觀察工具之紀錄分析內容，與授課教師討論後填寫：</h6>
  </div>
</div>
<div class="row my-2">
  <div class="col">
    <label class="font-weight-bold">一、教與學之優點及特色（含教師教學行為、學生學習表現、師生互動與學生同儕互動之情形）：</label>
    <textarea class="form-control box" disabled>{{advantages_and_features}}</textarea>
  </div>
</div>
<div class="row my-2">
  <div class="col">
    <label class="font-weight-bold">二、教與學待調整或改變之處（含教師教學行為、學生學習表現、師生互動與學生同儕互動之情形）：</label>
    <textarea class="form-control box" disabled>{{adjust_or_change}}</textarea>
  </div>
</div>
<div class="row my-2">
  <div class="col">
    <label class="font-weight-bold">三、授課教師預定專業成長計畫（於回饋人員與授課教師討論後，由回饋人員填寫）：</label>
  </div>
</div>
<div class="my-2 table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th class="text-center">成長方式 可自行文字敘述</th>
        <th class="text-center">內容概要說明</th>
        <th class="text-center">協助或合作人員</th>
        <th class="text-center">預計完成日期</th>
      </tr>
    </thead>
    <tbody>
      {% for x in detail %}
      <tr>
        <td class="text-center">{{x.growth_mode}}</td>
        <td class="text-center">{{x.abstract}}</td>
        <td class="text-center">{{x.member}}</td>
        <td class="text-center">{{x.done_date}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
{% endblock %}