<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>公開授課系統</title>
  {% include 'head_source.html' %}
</head>

<body class="grey lighten-3">
  <header>
    {% include 'nav.html' %}
  </header>
  <main class="mt-2 p-3">
    <form class="border border-black p-5 row container " method="post" role="form">
      {% csrf_token %}
      <div class="col center s12">
        <p class="h4 mb-4 text-center font-weight-bold">課程教學活動<br class="hide-on-med-and-up">設計表</p>
      </div>
      {% if message %}
      <div class="alert alert-danger center col s12">
        <h2>警告</h2>
        <h4>{{ message }}</h4>
      </div>
      {% endif %}
      <div class="input-field col s12 m4">
        <i class="fas fa-book prefix"></i>
        <input type="text" id="class_name" name="class_name" required>
        <label for="class_name">單元名稱</label>
      </div>
      <div class="input-field col s12 m4">
        <i class="fas fa-user prefix"></i>
        <input type="text" id="teacher" name="teacher" value="{{ user.teacher_name }}" disabled>
        <label for="teacher">授課教師</label>
      </div>
      <div class="input-field col s12 m4">
        <i class="fas fa-book-reader prefix"></i>
        <input type="text" id="teach_class" name="teach_class" required>
        <label for="teach_class">授課班級</label>
      </div>
      <div class="input-field col s12">
        <i class="fas fa-bullseye prefix"></i>
        <input type="text" id="teaching_objectives" name="teaching_objectives" required>
        <label for="teaching_objectives">教學目標</label>
      </div>
      <div class="col s12">
        <h5 class="center">詳細流程</h5>
        <ul id="detail_bar" class="tabs  tabs-fixed-width">
          <li id="1" class="tab col s1 m1"><a href="#part_1" class="active">1</a></li>
        </ul>
      </div>
      <div id="part_1" class="col s12">
        <div class="input-field col s12">
          <i class="fab fa-teamspeak prefix"></i>
          <input type="text" id="activity_1" name="activity_1" required>
          <label for="activity_1">教師活動</label>
        </div>
        <div class="input-field col s12">
          <i class="fas fa-chalkboard prefix"></i>
          <input type="text" id="aid_1" name="aid_1" required>
          <label for="aid_1">使用教具</label>
        </div>
        <div class="input-field col s12">
          <i class="fas fa-user-check prefix"></i>
          <input type="text" id="assessment_1" name="assessment_1" required>
          <label for="assessment_1">評量方式</label>
        </div>
        <div class="input-field col s12">
          <i class="fas fa-chalkboard-teacher prefix"></i>
          <input type="text" id="teaching_1" name="teaching_1" required>
          <label for="teaching_1">教學方法</label>
        </div>
        <div class="input-field col s12">
          <i class="fas fa-clock prefix"></i>
          <input type="text" id="time_1" name="time_1" required>
          <label for="time_1">時間分配</label>
        </div>
      </div>
      <div class="col center s6">
        <button class="btn btn-info btn-block mb-4" type="button" onclick="addone()">
          增加 <i class="fas fa-plus"></i></button>
      </div>
      <div class="col center s6">
        <button class="btn btn-info btn-block mb-4 red" type="button" onclick="delteone()">
          減少 <i class="fas fa-minus"></i></button>
      </div>
      <div class="col center s12">
        <button class="btn btn-info btn-block my-4" type="submit">提交 <i class="fas fa-paper-plane"></i></button>
      </div>
    </form>
  </main>
  {% include 'footer.html' %}
  {% include 'foot_source.html' %}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.tabs');
      var instance = M.Tabs.init(elems, {});
    });
  </script>
  <script>
    var num = 1;
    var min_num = 1;
    function addone() {
      num = num + 1;
      var context = "\
      <div id=\"part_"+ String(num) +"\" class=\"col s12\" style=\" display : none;\">\
        <div class=\"input-field col s12\">\
          <i class=\"fab fa-teamspeak prefix\"></i>\
          <input type=\"text\" id=\"activity_"+ String(num) +"\" name=\"activity_"+ String(num) +"\" required>\
          <label for=\"activity_"+ String(num) +"\">教師活動</label>\
        </div>\
        <div class=\"input-field col s12\">\
          <i class=\"fas fa-chalkboard prefix\"></i>\
          <input type=\"text\" id=\"aid_"+ String(num) +"\" name=\"aid_"+ String(num) +"\" required>\
          <label for=\"aid_"+ String(num) +"\">使用教具</label>\
        </div>\
        <div class=\"input-field col s12\">\
          <i class=\"fas fa-user-check prefix\"></i>\
          <input type=\"text\" id=\"assessment_"+ String(num) +"\" name=\"assessment_"+ String(num) +"\" required>\
          <label for=\"assessment_"+ String(num) +"\">評量方式</label>\
        </div>\
        <div class=\"input-field col s12\">\
          <i class=\"fas fa-chalkboard-teacher prefix\"></i>\
          <input type=\"text\" id=\"teaching_"+ String(num) +"\" name=\"teaching_"+ String(num) +"\" required>\
          <label for=\"teaching_"+ String(num) +"\">教學方法</label>\
        </div>\
        <div class=\"input-field col s12\">\
          <i class=\"fas fa-clock prefix\"></i>\
          <input type=\"text\" id=\"time_"+ String(num) +"\" name=\"time_"+ String(num) +"\" required>\
          <label for=\"time_"+ String(num) +"\">時間分配</label>\
        </div>\
      </div>";
      document.getElementById(String(num - 1)).insertAdjacentHTML("afterend", "<li id=\"" + String(num) + "\" class=\"tab col s1 m1\"><a href=\"#part_" + String(num) + "\">" + String(num) + "</a></li>")
      document.getElementById("part_" + String(num - 1)).insertAdjacentHTML("afterend", context)
      var el = document.getElementById("detail_bar");
      var instance = M.Tabs.getInstance(el);
      console.log(instance)
      instance.updateTabIndicator();
    }
    function delteone() {
      if (num == min_num) {
        alert("最少需有" + min_num + "個");
        return;
      }
      $('#' + String(num)).remove();
      $('#part_' + String(num)).remove();
      num = num - 1;
    }
  </script>
</body>

</html>