<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>公開授課系統</title>
  {% include 'head_source.html' %}
</head>

<body class="grey lighten-3">
  <header>
    {% include 'nav.html' %}
  </header>
  <main class="mt-2 p-3">
    <div class="container">
      <h3 class="font-weight-bold center">隱私權政策</h3>
      <hr class="my-4 ">
      <p>
        非常歡迎您光臨「台北市立大同高級中學公開授課系統」（以下簡稱本網站），為了讓您能夠安心的使用本網站的各項服務與資訊，特此向您說明本網站的隱私權保護政策，以保障您的權益，請您詳閱下列內容：
      </p>
      <h5 class="font-weight-bold">一、隱私權保護政策的適用範圍</h5>
      <p>
        隱私權保護政策內容，包括本網站如何處理在您使用網站服務時收集到的個人識別資料。隱私權保護政策不適用於本網站以外的相關連結網站，也不適用於非本網站所委託或參與管理的人員。
      </p>
      <h5 class="font-weight-bold">二、個人資料的蒐集、處理及利用方式</h5>
      <p>
        當您造訪本網站或使用本網站所提供之功能服務時，我們將視該服務功能性質，請您提供必要的個人資料，並在該特定目的範圍內處理及利用您的個人資料；非經您書面同意，本網站不會將個人資料用於其他用途。
        本網站在您使用互動性功能時，會保留您所提供的資訊等。
        於一般瀏覽時，伺服器會自行記錄相關行徑，包括您使用連線設備的IP位址、使用時間、使用的瀏覽器、瀏覽及點選資料記錄等，做為我們增進網站服務的參考依據，此記錄為內部應用，決不對外公佈。
      </p>
      <h5 class="font-weight-bold">三、資料之保護</h5>
      <p>
        本網站主機均設有防火牆、防毒系統等相關的各項資訊安全設備及必要的安全防護措施，加以保護網站及您的個人資料採用嚴格的保護措施，
        只由經過授權的人員才能接觸您的個人資料，如因業務需要有必要委託其他單位提供服務時，本網站亦會嚴格要求其遵守保密義務，並且採取必要檢查程序以確定其將確實遵守。
      </p>
      <h5 class="font-weight-bold">四、網站對外的相關連結</h5>
      <p>
        本網站的網頁提供其他網站的網路連結，您也可經由本網站所提供的連結，點選進入其他網站。但該連結網站不適用本網站的隱私權保護政策，您必須參考該連結網站中的隱私權保護政策。
      </p>
      <h5 class="font-weight-bold">五、與第三人共用個人資料之政策</h5>
      <p>
        本網站絕不會提供、交換、出租或出售任何您的個人資料給其他個人、團體、私人企業，但有法律依據或合約義務者，不在此限。
        前項但書之情形包括但不限於：
        <br>
        A. 經由您書面同意。
        <br>
        B. 為免除您生命、身體、自由或財產上之危險。
        <br>
        C. 當您在網站的行為，違反服務條款或可能損害或妨礙網站與其他使用者權益或導致任何人遭受損害。
        <br>
        D. 有利於您的權益。
        <br>
        E. 本網站委託廠商協助蒐集、處理或利用您的個人資料時，將對委外廠商或個人善盡監督管理之責。
      </p>
      <h5 class="font-weight-bold">六、Cookie之使用</h5>
      <p>
        為了提供您最佳的服務，本網站會在您的電腦中放置並取用我們的Cookie，
        若您不願接受Cookie的寫入，您可在您使用的瀏覽器功能項中設定隱私權等級為高，即可拒絕Cookie的寫入，但可能會導至網站某些功能無法正常執行 。
      </p>
      <h5 class="font-weight-bold">七、隱私權保護政策之修正</h5>
      <p>
        本網站隱私權保護政策將因應需求隨時進行修正，修正後的條款將刊登於網站上。
      </p>
    </div>
  </main>
  {% include 'footer.html' %}
  {% include 'foot_source.html' %}
</body>

</html>