{% extends "base.html" %}
{% block content%}
<h2 class="font-weight-bolder">服務條款</h2>
<hr class="my-4 ">
<h5 class="font-weight-bolder">一、接受條款 </h5>
<p>
  台北市立大同高級中學公開觀課系統（以下簡稱本網站）
  當您申請使用，即表示您已閱讀並同意本網站條款之所有內容。
  本網站有權於任何時間修改或變更入會條款之內容，建議您隨時注意該修改或變更。
</p>
<h5 class="font-weight-bolder">二、本網站宗旨</h5>
<p>
  建立一完整系統提供教師以下服務:
  <br>
  (1) 登記開放觀課時間
  <br>
  (2) 開放觀課時間查詢與簽到
  <br>
  (3) 填寫規定之表格
</p>
<h5 class="font-weight-bolder">三、您的義務 </h5>
<p>
  (1) 依註冊頁面之提示提供您本人正確、最新及完整的資料。
  <br>
  (2) 請隨時維持並更新您的個人資料，確保其為最新、最正確資料。
</p>
<h5 class="font-weight-bolder">四、資料之保護 </h5>
<p>
  您同意本網站將您所提供的個人資料儲存與本網站之資料庫中，並受到本網站隱私權規範保障，本網站不會向任何人出售或出借你的個人識別資料，
  若本網站因遭駭客入侵等不可抗力之情形造成資料遺失或外流，本網站開發人員將不必負任何法律責任。
  為了保護使用者個人隱私， 我們無法為您查詢其他使用者的帳號資料，請您見諒！若您有相關法律上問題需查閱他人資料時，請務必向警政單位提出告訴，我們將全力配合警政單位調查並提供所有相關資料。
  對於您所提供及留存之個人資料，本網站在未獲得您同意以前，絕不對外揭露您依法受保護之個人資料。以下幾種特殊情況不受此限：
  <br>
  (1) 基於法律之規定。
  <br>
  (2) 後司法機關或其他有權機關基於法定程序之要求。
  <br>
  (3) 為保障本網站之財產及權益。
  <br>
  (4) 再緊急情況下未維護其他會員或第三人之人身安全。
  <br>
  (5) 其他本網站有正當理由認為需揭露個人資料之情形。
</p>
<h5 class="font-weight-bolder">五、保管義務</h5>
<p>
  您有責任帳號的機密安全。您必須完全負起因利用該帳號所進行之一切行動之責任。
  若您帳號遭到未經授權之使用，或發生其他任何安全問題時，您必須立即通知本網站，每次您連線完畢，請記得登出結束您的帳號使用。
  因您未遵守本項約定所生之任何損失或損害，本網站將無法亦不予負責。
</p>
<h5 class="font-weight-bolder">五、保管義務</h5>
<p>
  您有責任帳號的機密安全。您必須完全負起因利用該帳號所進行之一切行動之責任。
  若您帳號遭到未經授權之使用，或發生其他任何安全問題時，您必須立即通知本網站，每次您連線完畢，請記得登出結束您的帳號使用。
  因您未遵守本項約定所生之任何損失或損害，本網站將無法亦不予負責。
</p>
<h5 class="font-weight-bolder">六、與第三人網站的連結</h5>
<p>
  本網站或協力廠商可能會提供連結至其他網站。您可能會因此連結至其他業者經營的網站，但不表示本網站與該等業者有任何關係。
</p>
<h5 class="font-weight-bolder">七、其他特殊事項</h5>
<p>
  您同意於本網站所發表之一切內容僅代表您個人立場與行為，並同意承擔所有相關衍生之責任，本網站不負任何責任。
</p>
<h5 class="font-weight-bolder">七、其他</h5>
<p>
  其他未盡事項，皆依中華民國法律規定及網際網路規範辦理。
</p>
{% endblock %}