a,title,p,span,h1,h2,h3,h4,h5,h6,button,th,td,label,input,select,textarea{
  font-family:'Noto Sans TC',sans-serif !important;
}
#brand{
  font-size : 1.5rem;
}
.sidenav li > a {
  font-size: 18px;
}
.modal-footer{
  text-align: center !important;
}
.tabs .tab a:hover, .tabs .tab a.active {
    background-color: transparent;
    color: #26a69a;
}
.tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #26a69a;
  will-change: left, right;
}
.tabs-content.carousel.carousel-slider .carousel-item.active{
  position: relative;
}